.header-container {
  display: flex;
  height: 36px;
  background-color: #222;
  padding-top: 8;
  padding-bottom: 8;
  padding-right: 32px;
  padding-left: 16px;
  justify-content: space-between;
}

.header-logo {
  background-color: #ff7f7f;
  height: 35px;
  -webkit-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.header-button-container {
  margin: 2px;
  display: flex;
}
